.element-center {
    text-align: center;
}

.padding-top-px5 {
    padding-top: 20%;
}

body {
    background-color: #404040;
    background-image: url("../img/outline.png");
    background-size: cover;
    font-family: sans-serif;
    margin: 0 10% 0;
}

@media only screen and (max-width: 78.75em) {
    body {
        background-size: auto;
    }
}

.rounded-image {
    border-radius: 50%;
}

h1, h2, h3, p {
    color: #ffffff;
}

.size-1px {
    height: 100px;
}

.size-2px {
    height: 200px;
}

.size-5px {
    height: 500px;
}

.padding-px5 {
    padding: 5px
}

.btn {
    padding: 10px 40px;
    border-radius: 25px;
}

.btn-primary {
    background-color: #2ba48e;
    color: black;
    border: hidden;
}

.btn-outline-primary {
    background-color: transparent;
    outline-color: #2ba48e;
    border-color: #2ba48e;
    color: white;
}