.element-center {
    text-align: center;
}

.element-left {
    text-align: left;
}

.element-right {
    text-align: right;
}

.block-inline {
    display: inline-block;
    margin-left: 200px;
    margin-right: 200px;
}

.block-inline p {
    padding-top: 7.5%;
}

.padding-top-px5 {
    padding-top: 20%;
}

body {
    background-color: #404040;
    background-image: url("../img/outline.png");
    background-size: cover;
    font-family: sans-serif;
    margin: 0 10% 0;
}

@media only screen and (max-width: 78.75em) {
    body {
        background-size: auto;
    }
}

.rounded-image {
    border-radius: 50%;
}

h1, h2, h3, p {
    color: #ffffff;
}

.size-1px {
    height: 100px;
}

.size-2px {
    height: 200px;
}

.size-5px {
    height: 500px;
}

.padding-px5 {
    padding: 5px
}

.btn {
    padding: 10px 40px;
    border-radius: 25px;
}

.btn-primary {
    background-color: #2ba48e;
    color: black;
    border: hidden;
}

.btn-outline-primary {
    background-color: transparent;
    outline-color: #2ba48e;
    border-color: #2ba48e;
    color: white;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover:not(.active) {
    background-color: #111;
}

nav .active {
    background-color: #2ba48e;
    color: black;
}